{{ define "content" }}
<link rel="stylesheet" href="/search-style.css">
<div class="entry-content">  
  
      <div id="searchbox">
        <span id="inputWord"></span> <span id="resultCount"></span>
        <div id="result"></div>
      </div>
      <!-- <script src="/index.js"></script> -->
      <script>
        async function getData() {
          const response = await fetch('/search-index.json');
          const data = await response.json();
          return data;
        }
        var data = null;
        async function search(query) {
          data = await getData();
          var result = searchData(query);
          var html = createHtml(result);
          showResult(html);
          showResultCount(result.length, data.length);
        }
  
        function searchData(query) {
          var result = [];
  
          query = query.trim();
          if (query.length < 1) {
            return result;
          }
          var re = new RegExp(query, 'i');
          for (var i = 0; i < data.length; ++i) {
            var pos = data[i].body.search(re);
            if (pos != -1) {
              result.push([i, pos, pos + query.length]);
            }
          }
          return result;
        }
  
        function createHtml(result) {
          var htmls = [];
          for (var i = 0; i < result.length; ++i) {
            var dataIndex = result[i][0];
            var startPos = result[i][1];
            var endPos = result[i][2];
            var url = data[dataIndex].url;
            var title = data[dataIndex].title;
            var body = data[dataIndex].body;
            htmls.push(createEntry(url, title, body, startPos, endPos));
          }
          return htmls.join('');
        }
  
        function createEntry(url, title, body, startPos, endPos) {
          return '<div class="item">' +
            '<a class="item_title" href="' + url + '">' + title + '</a>' +
            '<div class="item_excerpt">' + excerpt(body, startPos, endPos) + '</div>' +
            '</div>';
        }
  
        function excerpt(body, startPos, endPos) {
          return [
            body.substring(startPos - 30, startPos),
            '<b><mark>', body.substring(startPos, endPos), '</mark></b>',
            body.substring(endPos, endPos + 200)
          ].join('');
        }
  
        function showResult(html) {
          var el = document.getElementById('result');
          el.innerHTML = html;
        }
  
        function showResultCount(count, total) {
          var el = document.getElementById('resultCount');
          el.innerHTML = '<b>' + count + '</b> posts found（out of ' + total + ' posts）';
        }
        
        
        const url = new URL(window.location.href);
        const keyword = url.searchParams.get("q");
        
        search(keyword);
        document.getElementById("inputWord").innerHTML = keyword;
        </script>
  
      <noscript><p class="notice">注意: この検索機能は JavaScript を使用しています。</p></noscript>
    </p>
  </div>

  {{ end }}